//variables, mixins, classes

// @mixin background-basic {
//     background-repeat: no-repeat;
//     background-size: cover;
//     min-height: 100vh;
// }

@mixin paragraph-text {
    font-size: 1.3rem;
    font-weight: 400;
}


$dark-header-color: #31506E;
$light-header-color: #4A78A6;
$light-paragraph-color: #80A3C6;

$form-bg-color: #C9ADE8;
$footer-bg-color: #8747CC;

$margin-left-small: 8vw;


$about_text_font_size: 1rem;
$offer_list_item_padding_top: 0.5rem;



//gallery
$image-container-min-size: 9rem;
$image-container-max-size: 12rem