//anything reusable: buttons, navbars, cards  
@import "base";

.navbar__element {
    font-size: 1.1rem;
    color: $dark-header-color
}

.header_dark {
    font-weight: bold;
    color: $dark-header-color;

    &--big {
        font-size: 3rem;
    }

    &--black {
        font-weight: 900;
    }
}

.header_light {
    color: $light-header-color;
    font-size: 2.2rem;
}

.list_small {

    &__item {
        margin: 0 0 1rem 0;
        font-size: 1.4rem;
    }
    &__item:before {
        content:"·";
        font-size: 3rem;
        vertical-align: top;
        line-height: 1.5rem;
        padding-right: 1rem;
    }
}

.offer_list {
    //margin-top: 1.1rem;
    max-width: 30rem;
    vertical-align: center;
    // border: 1px solid red;
    &__item {
        color: white;
        margin: auto;
        padding: $offer_list_item_padding_top 3rem;
        font-size: $offer_list_item_font_size;
        margin: 1rem;
        border-radius: 2rem;
        background-color: #A06FD7;
        display: inline-block;
        vertical-align: center;
        text-align: center;
    }
}


.paragraph {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5rem;

}

.paragraph--light {
    color: $light-paragraph-color;
}

.paragraph--dark {
    color: $light-header-color;
}