html, body {
    font-family: 'Lato', sans-serif;
    
}

.navbar {
    margin-left: $margin-left-small;
    padding-top: 0.6rem;
  
    &__element {
      margin: 0 3rem 0.875rem 0;

    }
  }


.main {
    background-image: url('../images/header_background.svg');
    @include background-basic;
    
    &__logo {
      height: 27vh;
      max-width: 60vw;
      margin: 1.7rem 0rem 0rem $margin-left-small;
    }
    &__header {
      margin: 1.5rem 0rem 0rem $margin-left-small;
    }
    &__list {
      margin: 1rem 0rem 0rem 10.5vw;
    }

  }



.about {
  background-image: url('../images/about_background.svg');
  @include background-basic;

  //border: 1px solid red;
  
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    'offer text'
    'illustration call_to_action'
  ;

  &__header {
    margin-bottom: 1vh;
  }

  &__offer {
    grid-area: offer;
    //align-self: center;
    justify-self: center;
    //border: 1px solid red;
    margin: 6vh 1rem auto auto;
    
    padding-left: 7vw;
    &_list {
       width: 90%;
       padding-left: 1vw;
      //  margin-top: 1vh;
    }
  }

  &__text {
    grid-area: text;
    //justify-self: center;
    //align-self: center;
    margin: 6vh 3rem 0 0;
    //border: 1px solid red;
    max-width: 75%;
    // height: 70%;
  }

  &__text_paragraph {
    // margin-top: 1vh;
    margin-bottom: 1rem;
  }

  &__illustration {
    height: 40vh;
    grid-area: illustration;
    justify-self: center;
    // margin: 1vh 1vw 1vh 13vw;
    // border: 1px solid red;
  }

  &__call_to_action {
    grid-area: call_to_action;
    justify-self: center;
    align-self: center;
    //width: 70%;
    margin: 0 auto auto 0;
    //border: 1px solid red;
  }
}


.gallery {
  &__header {
    margin: 5vh auto 2vh;
    text-align: center;
  }
  &__images {
    width:70%;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: auto;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    justify-content: center;
    //border: 1px solid red
    @media (max-width: 1024px) {
      grid-template-columns: auto auto auto;
    }
    @media (max-width: 768px) {
      grid-template-columns: auto auto;
    }
    @media (max-width: 360px) {
      grid-template-columns: auto;
    }
    
  }
}


.contact {
    background-image: url('../images/contact_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-width: 1250px) {
      background-position: center -20%;
    };

    height: 65vh;
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__header {
      text-align: center;
      width: 100%;
    }
    &__form {
      display: flex;
      flex-wrap: wrap;
      width: 30vw;
      height: 40%;
      margin: 3% 0 0 0;
      //border: 1px solid red
      @media (max-width: 768px) {
        width: 60vw;
      }
      &_button {
        @media (max-width: 768px) {
          text-align: center;
          margin: auto;
        } 
      }
    }
    &__illustration {
      height: 50%;
      margin: 3% 0 0 5vw;
      @media (max-width: 768px) {
        display: none;
      }
    }

  }

  .footer {
    height: 10vh;
    background-color: $footer-bg-color;
    display: flex;
    flex-wrap: wrap;
    &__list {
      // display: inline-block;
      text-align: center;
      margin: auto;
      &_element {
        display: inline-block;
        text-align: center;
      }
    }
  }