html, body {
    font-family: 'Lato', sans-serif;
    
}

.navbar {
    margin-left: $margin-left-small;
    padding-top: 1.2rem;
  
    &__element {
      margin: 0 4.5rem 0.875rem 0;

    }
  }


.main {
    background-image: url('../images/header_background.svg');
    @include background-basic;
    
    &__logo {
      height: 25vh;
      max-width: 60vw;
      margin: 1.7rem 0rem 0rem $margin-left-small;
    }
    &__header {
      margin: 1.5rem 0rem 0rem $margin-left-small;
    }
    &__list {
      margin: 1rem 0rem 0rem 10.5vw;
    }

  }



.about {
  background-image: url('../images/about_background.svg');
  @include background-basic;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid red;

  &__offer {
   // margin: 17vh auto auto $margin-left-small;
    padding: 16vh 10vw 5vh 8vw;
    width: 49vw;
    border: 1px solid red;
    // &_list{
    //    margin: 1rem;
    // }
  }

  &__text {
    //margin: 17vh 3vw auto auto;
    padding: 16vh 8vw 5vh 4vw;
    border: 1px solid red;
    width: 49vw;
  }

  &__illustration {
    height: 40vh;
    margin: 1vh 1vw 1vh 13vw;
  }

  &__call_to_a_list {
    width: 49vw;
    border: 1px solid red;
  }
}


.gallery {  
  @include background-basic;
}


.contact {
    background-image: url('../images/contact_background.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50vh;
  }