.main {
    background-image: url('../images/header_background.svg');
    @include background-basic;
    
    &__logo {
      height: 25vh;
      margin: 35px 0px 0px 105px;
    }
  
  }

  .navbar {
    margin-left: 105px;
    padding-top: 12px;

    &__element {
      margin: 0px 72px 14px 0px;
    }
  }


