<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<section class="main">
<nav>
    <a href="">Galeria</a>
    <a href="">O mnie</a>
    <a href="">Kontakt</a>
</nav>

<img src="" alt="">

<h1>Rękodzieło Artystyczne</h1>

<ul>
    <li>Lalki</li>
    <li>Kwiaty</li>
    <li>Ozdoby</li>
</ul>

</section>


<section class="about">

</section>


<section class="gallery">
    <h1>Galeria</h1>
</section>


<section class="contact">
    <h1>Kontakt</h1>
</section>



    
</body>
</html>