<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/05cc788220.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
        <title>Szmatki kwiatki</title>
    </head>
<body>

<div class="container" >
    <section class="main">
    <nav class="navbar">
        <a class="navbar__element" href="#gallery">Galeria</a>
        <a class="navbar__element" href="#about">O mnie</a>
        <a class="navbar__element" href="#contact">Kontakt</a>
    </nav>

    <img class="main__logo" src="../images/logo.svg" alt="">

        <h1 class="main__header header_dark header_dark--big">Rękodzieło Artystyczne</h1>

        <ul class="main__list list_small">
            <li class="list_small__item header_dark header_dark--black">Lalki</li>
            <li class="list_small__item header_dark header_dark--black">Kwiaty</li>
            <li class="list_small__item header_dark header_dark--black">Ozdoby</li>
        </ul>


    </section>


    <section id="about" class="about">

        <div class="about__offer">
            <h1 class="about__header header_light">Oferuję:</h1>

            <div class="about__offer_list offer_list">
                <h2 class="offer_list__item">bukiety</h2>
                <h2 class="offer_list__item">ozdoby okolicznościowe</h2>
                <h2 class="offer_list__item">lalki</h2>
            </div>
        </div>

        <div class="about__text">
            <h1 class="about__header header_light">O mnie</h1>

            <p class="about__text_paragraph paragraph paragraph--light">
                Rękodziełem zajmuję się już od dobrych kilku lat. Jest to dla mnie hobby oraz świetny sposób na wyrażenie siebie. Uwielbiam eksperymentować oraz szukać nowych pomysłów i inspiracji.
            </p>
            <p class="about__text_paragraph paragraph paragraph--light">
                Moimi ulubionymi materiałami są: filce i tkaniny. Dodatkowo posiłkuję się drewnem i tworzywami sztucznymi.
            </p>
        </div>


            <img class="about__illustration" src="../images/about_illustration.svg" alt="">



        <ul class="about__call_to_action call_to_action">
            <li class="call_to_action__item paragraph paragraph--dark">Prowadzisz sklep z pamiątkami i chcesz wzbogacić ofertę? Przyjmuję również większe zamówienia    
            </li>
            <li class="call_to_action__item paragraph paragraph--dark">
                Masz jakiś pomysł ale nie wiesz jak go zrealizować? Chętnie wykonam go dla ciebie.
            </li>
        </ul>


    </section>


    <section id="gallery" class="gallery j-gallery">

            <h1 class="gallery__header header_dark">Galeria</h1>
            <div class="header_underline"></div>
            <div class="gallery__images j-gallery_images"></div>
            <div class="image_display j-image_display">
                <div class="image_display__exit j-gallery_exit"><i class="fas fa-times"></i></div>
                <div class="image_display__container j-container"></div>
                <!-- <div class="image_display__header"></div> -->
                <!-- <img class="image_display__image" src="../images/logo.svg" alt=""> -->
                <button class="image_display__button button_left" data-side="left"><i class="fas fa-chevron-left" data-side="left"></i></button>
                <button class="image_display__button button_right" data-side="right"><i class="fas fa-chevron-right" data-side="right"></i></button>
            </div>
    </section>


    <section id="contact" class="contact">
        <h1 class="contact__header header_dark">Kontakt</h1>
        <form class="contact__form" id="contact_form" data-netlify="true">
            <input class="form__input form__input_text" type="text" placeholder="Imię" required> 
            <input class="form__input form__input_text" type="text" placeholder="Email" required>
             <textarea class="form__input form__input_textarea" name="" id="" placeholder="Wiadomość" required></textarea>
             <button class="contact__form_button form__input form__input_button j-form_button" type="submit" form="contact_form" >Wyślij</button>             
        </form>

        <img class="contact__illustration" src="../images/send_illustration.svg" alt="">
    </section>

    <section class="footer">
        <ul class="footer__list">
            <li class="footer__list_element"><a href="#gallery">Galeria</a></li>
            <li class="footer__list_element"><a href="#about">O mnie</a></li>
            <li class="footer__list_element"><a href="#">Sitemap</a></li>
            <li class="footer__list_element"><a href="#">Copyright <span class="j-copyright_date">2019</span> Michał Fal</a></li>
        </ul>
    </section>

</div>

</body>
</html>