<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<section class="main">
<nav class="navbar">
    <a class="navbar__element" href="">Galeria</a>
    <a class="navbar__element" href="">O mnie</a>
    <a class="navbar__element" href="">Kontakt</a>
</nav>

<img class="main__logo" src="../images/logo.svg" alt="">

    <h1 class="main__header header_bold header_bold--big">Rękodzieło Artystyczne</h1>

    <ul class="main__list list_small">
        <li>Lalki</li>
        <li>Kwiaty</li>
        <li>Ozdoby</li>
    </ul>


</section>


<section class="about">

</section>


<section class="gallery">
    <h1 class="header_bold">Galeria</h1>
</section>


<section class="contact">
    <h1 class="header_bold">Kontakt</h1>
</section>



    
</body>
</html>